.portfolioFW{ pointer-events: none;
  &.loaded{pointer-events: all;}
}
.portfolioFW__reader{pointer-events: none; opacity: 0; visibility: hidden; position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; z-index: 200; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center;
  background: radial-gradient(transparent 40%, #111414), rgba(255, 255, 255, 0.2);
  .safari &{transform: translateZ(1000px);}
  &.active {opacity: 1; visibility: visible; transition: opacity 0.6s 0s; pointer-events: all;}
  .wrapper {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; transition: left 0.6s 0s, top 0.6s 0s, transform 0.6s 0s; 
    &.animated{
      .img_container.full:after {opacity: 0 !important;}
      .img_container {transform: scale(0.8);}
    }
  }
  .close,
  .details,
  .nav_item {width: 5vw; height: 5vw; line-height: 5vw; color: white; position: absolute; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); font-size: 2em; text-align: center; color: #ffffff; cursor: pointer; opacity: 0.6; transition: opacity 0.6s;
    @include media-max(lg){width: 60px;height: 60px;line-height: 60px; font-size: 1.5em;}
    &:hover {opacity: 1; }
    &.disabled{opacity: 0.2; cursor: not-allowed;}
  }
  .nav_item {top: 0; bottom: 0; margin: auto; z-index: 2;
    &.prev {left: 0;}
    &.next {right: 0;}
  }
  .close,
  .details {right: 0; top: 0; z-index: 2; }
  .details {left: 0; top: 0; z-index: 2; }
  .counter {position: absolute; top: 0; right: 5vw; text-align: center; line-height: 5vw; color: #ffffff; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); z-index: 2; font-weight: bold; 
    @include media-max(lg){right: 60px;line-height: 60px;}
    @include media-max(sm){top: auto;bottom: 30px;right: 30px;line-height: inherit;}
    @include media-max(xs){right: 15px;bottom: 15px;}
  }
}

.portfolioFW__item {background: rgba(17, 20, 20, 0.8); width: 100vw; height: 100vh; overflow: hidden; transition: width 0.6s, height 0.6s;
  .inside {overflow: hidden; max-height: 100vh; position: relative; opacity: 0; transition: opacity 0.6s 0.6s;
    .portfolioFW__reader.active &{opacity: 1;}
  }
  .content {@extend .block-std; box-shadow: none; padding: 0; z-index: 2; max-width: 25vw; width: auto; position: absolute; left: 0; top: 0; height: 100vh; overflow-x: visible; transition: transform 0.6s 0s; transform: translate(-100%, 0);
    @include media-max(xl){max-width: 30vw;}
    @include media-max(lg){max-width: 35vw;}
    @include media-max(md){max-width: 45vw;}
    @include media-max(sm){max-width: 55vw;}
    @include media-max(xs){max-width: 70vw;}
    @include media-max(xxs){max-width: 100vw;}
    &:after,&:before{display: none;}
    .close,
    .details {color: inherit; text-shadow: none;}
    .title_container {color: #ffffff; position: absolute; white-space: nowrap; top: 0; left: 100%; margin-left: 5vw; transition: margin-left 0.4s; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      @include media-max(lg){margin-left: 60px;}
      @include media-max(xs){font-size: 0.8em;}
      .title {font-size: 2em; font-weight: bold; text-transform: uppercase; line-height: 5vw; display: flex; flex-direction: row; flex-wrap: nowrap;
        @include media-max(lg){font-size: 1.5em; line-height: 60px;}
        .ellipsis {max-width: 65vw; max-width: calc(100vw - 5vw * 3);
          @include media-max(lg){max-width: calc(100vw - 60px * 3);}
        }
        a {margin-left: 15px; transition: opacity 0.4s; opacity: 0.6;
          &:hover {opacity: 1;}
        }
      }
      .category {margin-top: -1vw; opacity: 0.8;}
    }
    .infos {height: 100%; overflow: auto; @extend .p-all;
      .line {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center; @extend .m-bottom;
        &.teaser {display: flex; flex-direction: row; flex-wrap: wrap; }
        .icon {font-size: 2em; color: #222222; @extend .m-right; }
        .text {font-size: 1.2em; }
        ul.tags {font-size: 0.8em; display: flex; flex-direction: row; flex-wrap: wrap; text-align: center;
          &>li {flex-grow: 1;}
        }
      }
    }
    &.active {transform: translate(0, 0); box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.3);
      .title_container {@extend .m-left;}
    }
  }
  .gallery {width: 100vw; height: 100vh; overflow: hidden; position: relative;
    .loadbar {position: absolute; bottom: 0; left: 0; height: 10px; background: #ffffff; box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.9); width: 0px; opacity: 0.4; }
    .wrapper {width: auto; z-index: 0; min-height: 100vh; position: absolute; top: 0; left: 0; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; 
      .img_container {overflow: hidden; width: 100vw; height: 100vh; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; position: relative; transition: transform 0.4s; 
        img {max-height: 100vh; pointer-events: none;}
        &.loading{
          img {width: 100vw; height: 100vh; opacity: 0; }
        }
        &.full{
          &:after {display: block; content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; opacity: 1; transition: opacity 0.6s; background: radial-gradient(transparent 40%, #111414), rgba(0, 0, 0, 0.2);}
          img {max-height: none; max-width: none; min-width: 100vw; height: 100vh; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); object-fit: cover; object-position: center center;}
        }
      }
    }
  }
  .nav_gallery {position: absolute; bottom: 30px; right: 0; margin-right: -30px; transform: translate(100%, 0); font-size: 1.2em; color: #ffffff; text-align: center; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); white-space: nowrap;
    @include media-max(xs){bottom: 15px; margin-right: -15px;}
    .item {line-height: 35px; cursor: pointer;
      svg {opacity: 0.5; transition: all 0.4s; margin: 0 8px;
        &:hover,
        &.fa-dot-circle {opacity: 1; transform: scale(1.2); }
      }
    }
    .arrows {padding: 5px 8px; }
    &.vert {margin-right: 0; 
      .item {width: 5vw; display: block; line-height: 35px; cursor: pointer; }
    }
  }
}
